<div className="nav-item">
    <a href="#" className="nav-link">WOMEN</a>
    <div className="dropdown-container">
        <div className="dropdown-section">

            {/* 1st Column: Indian & Fusion Wear */}
            <div className="dropdown-column">
                <span className="dropdown-heading">Indian & Fusion Wear</span>
                <a href="#" className="dropdown-link">Kurtas & Suits</a>
                <a href="#" className="dropdown-link">Kurtis, Tunics & Tops</a>
                <a href="#" className="dropdown-link">Sarees</a>
                <a href="#" className="dropdown-link">Ethnic Wear</a>
                <a href="#" className="dropdown-link">Leggings, Salwars & Churidars</a>
                <a href="#" className="dropdown-link">Skirts & Palazzos</a>
                <a href="#" className="dropdown-link">Dress Materials</a>
                <a href="#" className="dropdown-link">Lehenga Cholis</a>
                <a href="#" className="dropdown-link">Dupattas & Shawls</a>
                <a href="#" className="dropdown-link">Jackets</a>
                <span className="sub-dropdown-heading">Belts, Scarves & More</span>
                <span className="sub-dropdown-heading">Watches & Wearables</span>
            </div>

            {/* 2nd Column: Western Wear */}
            <div className="dropdown-column">
                <span className="dropdown-heading">Western Wear</span>
                <a href="#" className="dropdown-link">Dresses</a>
                <a href="#" className="dropdown-link">Tops</a>
                <a href="#" className="dropdown-link">Tshirts</a>
                <a href="#" className="dropdown-link">Jeans</a>
                <a href="#" className="dropdown-link">Trousers & Capris</a>
                <a href="#" className="dropdown-link">Shorts & Skirts</a>
                <a href="#" className="dropdown-link">Co-ords</a>
                <a href="#" className="dropdown-link">Playsuits</a>
                <a href="#" className="dropdown-link">Jumpsuits</a>
                <a href="#" className="dropdown-link">Shrugs</a>
                <a href="#" className="dropdown-link">Sweaters & Sweatshirts</a>
                <a href="#" className="dropdown-link">Jackets & Coats</a>
                <a href="#" className="dropdown-link">Blazers & Waistcoats</a>
                <span className="sub-dropdown-heading">Plus Size</span>
            </div>

            {/* 3rd Column: Maternity, Sunglasses & Footwear */}
            <div className="dropdown-column">
                <span className="sub-dropdown-heading">Maternity</span>
                <span className="sub-dropdown-heading">Sunglasses & Frames</span>
                <span className="dropdown-heading">Footwear</span>
                <a href="#" className="dropdown-link">Flats</a>
                <a href="#" className="dropdown-link">Casual Shoes</a>
                <a href="#" className="dropdown-link">Heels</a>
                <a href="#" className="dropdown-link">Boots</a>
                <a href="#" className="dropdown-link">Sports Shoes & Floaters</a>
                <span className="dropdown-heading">Sports & Active Wear</span>
                <a href="#" className="dropdown-link">Clothing</a>
                <a href="#" className="dropdown-link">Footwear</a>
                <a href="#" className="dropdown-link">Sports Accessories</a>
                <a href="#" className="dropdown-link">Sports Equipment</a>
            </div>

            {/* 4th Column: Lingerie & Sleepwear */}
            <div className="dropdown-column">
                <span className="dropdown-heading">Lingerie & Sleepwear</span>
                <a href="#" className="dropdown-link">Bra</a>
                <a href="#" className="dropdown-link">Briefs</a>
                <a href="#" className="dropdown-link">Shapewear</a>
                <a href="#" className="dropdown-link">Sleepwear & Loungewear</a>
                <a href="#" className="dropdown-link">Swimwear</a>
                <a href="#" className="dropdown-link">Camisoles & Therm
                <span className="dropdown-heading">Lingerie & Sleepwear</span>
                <a href="#" className="dropdown-link">Bra</a>
                <a href="#" className="dropdown-link">Briefs</a>
                <a href="#" className="dropdown-link">Shapewear</a>
                <a href="#" className="dropdown-link">Sleepwear & Loungewear</a>
                <a href="#" className="dropdown-link">Swimwear</a>
                <a href="#" className="dropdown-link">Camisoles & Therm

            </div>

        </div>
    </div>
</div>
